<div class="alert alert-info" role="alert">
    <h3>Sistema de Gerenciamento de Notícias</h3>
    <p>Bem-vindo ao Sistema de Gerenciamento de Notícias, desenvolvido por Edio Rhoden, Desenvolvedor .Net.</p>
</div>

<h4>Descrição do Projeto</h4>

<p>Este projeto é um sistema web que permite o gerenciamento de notícias, tags e usuários. Ele oferece funcionalidades básicas para criar, editar e excluir notícias, além de associar tags a essas notícias. Também permite a criação e gerenciamento de usuários.</p>

<h4>Funcionalidades Principais</h4>

<p>O Sistema de Gerenciamento de Notícias inclui as seguintes funcionalidades principais:</p>

<ol>
    <li>
        <strong>Notícias:</strong>
        <ul>
            <li>Criação, edição e exclusão de notícias.</li>
            <li>Associação de várias tags a uma notícia.</li>
            <li>Listagem de notícias com informações detalhadas.</li>
        </ul>
    </li>
    <li>
        <strong>Tags:</strong>
        <ul>
            <li>Criação, edição e exclusão de tags.</li>
            <li>Listagem de tags disponíveis.</li>
        </ul>
    </li>
    <li>
        <strong>Usuários:</strong>
        <ul>
            <li>Criação, edição e exclusão de usuários.</li>
            <li>Listagem de usuários cadastrados.</li>
        </ul>
    </li>
</ol>

<h4>Inicialização do Projeto</h4>

<p>Ao iniciar o projeto, o sistema realizará automaticamente as seguintes ações:</p>

<ul>
    <li>Criará um banco de dados em memória para armazenar os dados do aplicativo.</li>
    <li>Criará 10 tags iniciais.</li>
    <li>Cadastrará 5 usuários iniciais.</li>
    <li>Gerará aleatoriamente 10 notícias e associará tags a algumas delas.</li>
</ul>

<h4>Pré-requisitos</h4>

<p>Para executar este projeto em sua máquina local, você precisará ter instalado:</p>

<ul>
    <li>Visual Studio (ou outra IDE de sua escolha).</li>
    <li>.NET Core SDK.</li>
</ul>

<h4>Configuração do Banco de Dados</h4>

<p>Este projeto utiliza um banco de dados em memória por padrão, portanto, não é necessário configurar uma string de conexão.</p>

<h4>Executando o Projeto</h4>

<ol>
    <li>Clone este repositório em sua máquina local.</li>
    <li>Abra o projeto em sua IDE preferida.</li>
    <li>Execute o aplicativo e navegue para a URL local para acessar o Sistema de Gerenciamento de Notícias.</li>
</ol>

<h4>Contribuição</h4>

<p>Contribuições são bem-vindas! Sinta-se à vontade para reportar problemas, propor melhorias ou enviar pull requests.</p>

<h4>Licença</h4>

<p>Este projeto é um projeto teste. <a href="LICENSE"></a>.</p>
